body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3374 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:11px;
  width:4px;
  height:22px;
}
#u3374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3375 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:13px;
  width:99px;
  height:19px;
}
#u3375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:2px;
}
#u3376 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:52px;
  width:930px;
  height:1px;
  color:#E4E4E4;
}
#u3376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3377 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:112px;
  width:57px;
  height:19px;
  color:#999999;
}
#u3377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3378 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:87px;
  width:654px;
  height:69px;
}
#u3378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  word-wrap:break-word;
}
#u3379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:2px;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:185px;
  width:930px;
  height:1px;
  color:#E4E4E4;
}
#u3379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:686px;
  width:189px;
  height:19px;
  color:#999999;
}
#u3380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u3381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3381 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1226px;
  width:892px;
  height:41px;
}
#u3381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3382 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:218px;
  width:145px;
  height:19px;
  color:#999999;
}
#u3382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3383 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:316px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3384 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:316px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3385 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:316px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3386 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:323px;
  width:0px;
  height:0px;
}
#u3386_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:8px;
  height:27px;
}
#u3386_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:38px;
  height:8px;
}
#u3386_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-27px;
  width:8px;
  height:31px;
}
#u3386_seg3 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:19px;
  height:8px;
}
#u3386_seg4 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3386_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3387 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:323px;
  width:0px;
  height:0px;
}
#u3387_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:8px;
  height:27px;
}
#u3387_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:38px;
  height:8px;
}
#u3387_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-27px;
  width:8px;
  height:31px;
}
#u3387_seg3 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:21px;
  height:8px;
}
#u3387_seg4 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3387_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3388 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:316px;
  width:0px;
  height:0px;
}
#u3388_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-38px;
  width:8px;
  height:38px;
}
#u3388_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-38px;
  width:150px;
  height:8px;
}
#u3388_seg2 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-38px;
  width:8px;
  height:38px;
}
#u3388_seg3 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:-16px;
  width:20px;
  height:21px;
}
#u3388_text {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
}
#u3389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
}
#u3390 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:268px;
  width:232px;
  height:40px;
}
#u3390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u3391 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:277px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u3391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u3392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:308px;
  width:29px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u3393 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:278px;
  width:14px;
  height:16px;
  opacity:0.699999988079071;
  color:#FFFFFF;
}
#u3393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3395 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:342px;
  width:35px;
  height:35px;
  color:#FF0000;
}
#u3395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u3396 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:349px;
  width:17px;
  height:21px;
  font-size:16px;
  color:#CCCCCC;
}
#u3396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3397 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:393px;
  width:892px;
  height:19px;
}
#u3397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  word-wrap:break-word;
}
#u3398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(153, 153, 153, 0.349019607843137);
}
#u3399 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:269px;
  width:232px;
  height:39px;
}
#u3399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u3400 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:278px;
  width:122px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#515151;
}
#u3400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u3401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u3401 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:309px;
  width:29px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u3402 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:279px;
  width:14px;
  height:16px;
  opacity:0.699999988079071;
  color:#FFFFFF;
}
#u3402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3405 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:342px;
  width:35px;
  height:35px;
}
#u3405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3406 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:348px;
  width:18px;
  height:18px;
}
#u3406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3407 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:352px;
  width:10px;
  height:10px;
}
#u3407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:7px;
}
#u3408 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:364px;
  width:1px;
  height:6px;
}
#u3408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:7px;
}
#u3409 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:368px;
  width:1px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:343px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#CCCCCC;
}
#u3411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C9C9C9;
}
#u3412 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:341px;
  width:12px;
  height:21px;
  font-size:16px;
  color:#C9C9C9;
}
#u3412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3413 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:343px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#CCCCCC;
}
#u3413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9933;
}
#u3414 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:341px;
  width:12px;
  height:21px;
  font-size:16px;
  color:#FF9933;
}
#u3414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3415 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:344px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#CCCCCC;
}
#u3415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3416 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:342px;
  width:12px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u3416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3417 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:278px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#CCCCCC;
}
#u3417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C9C9C9;
}
#u3418 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:276px;
  width:12px;
  height:21px;
  font-size:16px;
  color:#C9C9C9;
}
#u3418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3420 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:278px;
  width:18px;
  height:18px;
  font-size:14px;
  color:#CCCCCC;
}
#u3420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3421 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:276px;
  width:12px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u3421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:183px;
}
#u3422 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1546px;
  width:176px;
  height:183px;
}
#u3422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:489px;
}
#u3423 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:727px;
  width:925px;
  height:489px;
}
#u3423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3424 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1226px;
  width:900px;
  height:16px;
}
#u3424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u3425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:32px;
}
#u3425 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:611px;
  width:268px;
  height:32px;
  color:#FFFFFF;
}
#u3425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:264px;
  word-wrap:break-word;
}
#u3426 {
  position:absolute;
  left:2517px;
  top:1402px;
  visibility:hidden;
}
#u3426_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:310px;
  height:128px;
  background-image:none;
}
#u3426_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:128px;
}
#u3427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u3429 {
  position:absolute;
  left:2499px;
  top:1652px;
  visibility:hidden;
}
#u3429_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:310px;
  height:128px;
  background-image:none;
}
#u3429_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:128px;
}
#u3430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u3432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3433_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:304px;
  height:163px;
}
#u3433 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:437px;
  width:264px;
  height:123px;
}
#u3433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3434 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:471px;
  width:199px;
  height:19px;
  color:#000000;
}
#u3434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u3435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3435 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:518px;
  width:70px;
  height:23px;
}
#u3435_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3435.mouseOver {
}
#u3435_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3435.mouseDown {
}
#u3435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u3436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:466px;
  width:26px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:518px;
  width:70px;
  height:23px;
  color:#FFFFFF;
}
#u3437_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3437.mouseOver {
}
#u3437_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3437.mouseDown {
}
#u3437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3439_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:304px;
  height:163px;
}
#u3439 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:437px;
  width:264px;
  height:123px;
}
#u3439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:471px;
  width:189px;
  height:19px;
  color:#000000;
}
#u3440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u3441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3441 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:518px;
  width:70px;
  height:23px;
}
#u3441_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3441.mouseOver {
}
#u3441_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3441.mouseDown {
}
#u3441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u3442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:466px;
  width:26px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:518px;
  width:70px;
  height:23px;
  color:#FFFFFF;
}
#u3443_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3443.mouseOver {
}
#u3443_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3443.mouseDown {
}
#u3443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u3444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:582px;
  width:366px;
  height:19px;
}
#u3444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u3445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:32px;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:613px;
  width:268px;
  height:32px;
  color:#FFFFFF;
}
#u3445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:264px;
  word-wrap:break-word;
}
#u3446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:584px;
  width:372px;
  height:19px;
}
#u3446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u3447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1508px;
  width:538px;
  height:16px;
}
#u3447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u3448_img {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-20px;
  width:360px;
  height:189px;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1282px;
  width:320px;
  height:149px;
}
#u3448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1298px;
  width:129px;
  height:21px;
  font-size:16px;
}
#u3449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:21px;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1329px;
  width:281px;
  height:43px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:21px;
}
#u3450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u3451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1386px;
  width:29px;
  height:19px;
  color:#3366FF;
}
#u3451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1386px;
  width:29px;
  height:19px;
}
#u3452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1441px;
  width:35px;
  height:35px;
}
#u3454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:1448px;
  width:17px;
  height:21px;
  font-size:16px;
  color:#CCCCCC;
}
#u3455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
